footer {
    background-color: #021635;
    color: white;
    padding: 45px 0;
}

.footer_top, .footer_bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
}

.footer_top {
    border-bottom: 1px solid;
    color: #9B9B9B;
}

.footer_top--left {
    padding-bottom: 10px;
}

.footer_top--right {
    text-align: right;
}

.footer_top--left nav a {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    color: white;
}

.footer_top--right nav a {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    color: white;
    text-decoration: underline;
}

.footer_top li {
    padding-bottom: 10px;
}

.footer_bottom {
    padding-top: 24px;
}

.footer_bottom--left {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: #ffffff;
}

.footer_bottom--left p:not(:last-child) {
    margin-bottom: 7px;
}

.footer_bottom--right img {
    width: 75px;

}